body {
    margin: 0;
}
html, body, #root, .App {
    height: 100%;
    width: 1850px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-evenly;
}
.header .gameTimer {
    display: flex;
    align-items: center;
}

/* Character Bar */
.allCharacters {
    display: flex;
    border-bottom: 3px solid red;
    flex-direction: column;
}
.selector {
    margin: 0rem 1rem 0rem 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.selector .character {
    display: flex;
    height: 5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.selector .character img {
    width: 60px;
}
.selector .character img:hover {
    cursor: pointer;
}
.allCharacters .characterNames {
    display: flex;
    gap: 2rem;
    justify-content: center;
    height: 2rem;
    margin-top: 5px;
}
.allCharacters .characterNames p {
    width: 60px;
    margin: 0;
    font-size: large;
    text-align: center;
}

/* Wheres Waldo Image */
.wheresWaldo {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1850px;
}
.wheresWaldo img {
    width: 1200px;
    display: flex;
    flex-shrink: 0;
}

/* Identify Character Box */
.identification {
    position: absolute;
    display: flex;
    
}
.identification .box {
    height: 2rem;
    width: 2rem;
    border: 1px solid red;
}
.identification .charOptions {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Winner Screen */
.winner-screen {
    position: absolute;
    background-color: white;
    z-index: 2;
    height: 100%;
    width: 1850px;
}
.winner-screen .winner-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.winner-screen .winner-form .endgame-directions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.endgame-buttons {
    display: flex;
    padding: 1rem;
    gap: 1rem;
}
.endgame-buttons button:hover {
    cursor: pointer;
}
.leaderboard {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.leaderboard-table {
    border: 2px solid black;
    border-bottom: 1px solid black;
    width: 925px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.leaderboard-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
.leaderboard-header h4 {
    margin: 1rem;
}
.leaderboard-rows {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.leaderboard-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.leaderboard-row p {
    margin: 1rem;
}
.play-again {
    padding: 1rem;
}
.play-again button {
    padding: 1rem;
    font-size: large;
}
.play-again button:hover {
    cursor: pointer;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    border-top: 3px solid red;
}